* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div {
    flex-basis: 15vw;
    height: 80px;
    margin-top: 30px;
    border: 5px solid black;
    border-radius: 10%;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}